<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MyCycles</title>
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
   <div>
       <nav>
           button 1, button 2, button 3
       </nav>
   </div>
    @RenderBody()
</body>
</html>
