@using Microsoft.AspNetCore.Mvc.RazorPages
@using WebApplication.Models
@model IndexViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MainPage</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    
</head>

<body>

<h2></h2>
</body>
</html>

<h2>title</h2>
